.nb-gradle
.nb-gradle-properties
.gradle
.settings/
.classpath
.project
build/
data/
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

/bin/

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws
*.iml
